// conf/base.config
//
// Core, cluster-agnostic configuration.
// No cluster names, no site-specific paths.
docker.enabled = false
params {
  threads = 48
  outdir = "tiberius_results"
  restart = false
  genome = null
  proteins = null
  rnaseq_sra_single = []
  rnaseq_sra_paired = []
  isoseq_sra        = []
  rnaseq_single     = []
  rnaseq_paired     = []
  isoseq            = []  
  tiberius {
    run       = false
    result    = null
    model_cfg = null
  }
  mode = null
  scoring_matrix = "${projectDir}/../conf/blosum62.csv"
  prothint_conflict_filter = false
  tools {
    hisat2   = "hisat2"
    hisat2_build = "hisat2-build"
    minimap2 = "minimap2"
    stringtie= "stringtie"
    samtools = "samtools"
    transdecoder_longorfs = "TransDecoder.LongOrfs"
    transdecoder_predict  = "TransDecoder.Predict"
    transdecoder_util_gtf2fa = "gtf_genome_to_cdna_fasta.pl"
    transdecoder_util_orf2genome = "cdna_alignment_orf_to_genome_orf.pl"
    transdecoder_gtf2gff = "gtf_to_alignment_gff3.pl"
    diamond  = "diamond"
    bedtools = "bedtools"
    miniprot = "miniprot"
    miniprot_boundary_scorer = "miniprot_boundary_scorer"
    miniprothint = "miniprothint.py"
    bam2hints = "bam2hints"
  }
}

// ========= PROCESS DEFAULTS =========

process {
  // Reasonable global defaults (can be overridden per label/profile)
  cpus   = 72
  memory = '30 GB'
  time   = '72h'
  stageInMode = 'symlink'
}

// ========= LABEL-BASED OVERRIDES =========

// Container label: turn on container usage and set image from params.container
process {
  withLabel: container {
    container = "docker://larsgabriel23/evidence_pipeline:latest"
  }

  // High-memory tasks
  withLabel: bigmem {
    memory = '100 GB'
  }

  withLabel: local_only {
        executor = 'local'
        cpus     = 1
        memory   = '2 GB'
        time     = '1h'
    }

  // GPU tasks (cluster-specific GPU details are set in user configs)
  withLabel: gpu {
    containerOptions = '--nv'
  }
  
  withName: 'HISAT2_MAP_*' {
    containerOptions = '--contain' 
  }
  withName: HISAT2_MAP_PAIRED {
    // bind a writable per-task tmp into the container's /tmp
    containerOptions = { "-B ${task.workDir}:/tmp" }
  }
}

// ========= EXECUTOR / RETRY BEHAVIOR =========

process {
  errorStrategy = 'retry'
  maxRetries    = 2
  maxErrors     = -1
}

executor {
  queueSize = 20
}

singularity {
  enabled      = true
  autoMounts   = true
  envWhitelist = 'CUDA_VISIBLE_DEVICES'
  pullTimeout = "60m"
  execOptions = '--contain'
  
}



// ========= REPORTING =========

timeline {
  enabled = true
}

trace {
  enabled = true
}

report {
  enabled = true
}

