includeConfig 'base.config'
docker.enabled = false

process {
  executor        = 'slurm'
  queue           = 'snowball,pinky,batch'
  cpus            = 60
  memory          = '60 GB'
  time            = '24h'
  nodes           = 1
  stageInMode     = 'symlink'
  clusterOptions = '--gpus=0 --get-user-env'

  withLabel: 'gpu' {
    clusterOptions = '--gpus=1 --get-user-env'
    queue          = 'vision,vision-fast'
    time            = '10h'
    containerOptions = '--nv'
  }

  withLabel: 'container' {
        container = "docker://larsgabriel23/evidence_pipeline:latest"
  }
}

executor {
    queueSize = 20
}
