// conf/slurm_generic.config
//
// A generic SLURM profile that may work on many clusters
// or at least serve as a starting point.
includeConfig 'base.config'
process {
  executor = 'slurm'
  cpus     = 4
  memory   = '16 GB'
  time     = '8h'
}

singularity {
  enabled    = true
  autoMounts = true
}

executor {
  queueSize = 50
}
