name: Run Tests

on:
  push:
    branches: [ main, refactor_hmm_improve_testing ]
  pull_request:
    branches: [ main, refactor_hmm_improve_testing ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.11'  # Change to match your project's Python version

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install .[from_source]
        pip install pytest

    - name: Run tests
      run: |
        pytest -m "not integration"
